<!DOCTYPE html>
{% autoescape true %}
<html>
  <body>
	{% if success=='false' %}
		<b>{{ message }}</b>
		<br>
		<a href="/reserve?value={{ resourceid }}">Try Again</a>
		<br>
		<a href="/">home</a>
	{% else %}
		<b>{{ message }}</b>
		<br>
		<a href="/">home</a>
	{% endif %}
  </body>
</html>
{% endautoescape %}