<!DOCTYPE html>
{% autoescape true %}
<html>
  <body>
    <h4>Editing Resource: {{ name }}</h4>
    <form action="/modify" method="post">
		<div><input type=hidden name="uid" value="{{ uid }}"></div>
        <div><input type=text name="nameofresource" value="{{ name }}"></div>
        <div><input type=time name="starttime" value="{{ starttime }}"></div>
        <div><input type=time name="endtime" value="{{ endtime }}"  ></div>
        <div><input type=text name="tags" value="{{ tags }}"></div>
        <div><input type="submit" value="Modify Resource"></div>
        </form>
  </body>
</html>
{% endautoescape %}