<!DOCTYPE html>
{% autoescape true %}
<html>
  <body>
		<h2>RSS Feed</h2>
		<p>
			&lt;?xml version="1.0" encoding="UTF-8" ?&gt;<br>
			&lt;rss version="2.0"&gt;<br>
			&lt;Resource&gt;<br>
			&lt;Name&gt;{{ name }}&lt;/Name&gt;<br>
			&lt;Owner&gt;{{ owner }}&lt;/Owner&gt;<br>
			
			&lt;Tags&gt;<br>
			{% for t in tags %}
			&lt;Tag&gt;{{ t }}&lt;/Tag&gt;<br>
			{% endfor %}
			&lt;/Tags&gt;<br>
			
			&lt;Reservations&gt;<br> 
			{% for l in list %}
			&lt;Reservation&gt;<br>
			&lt;ResourceName&gt{{ l.resourcename }}&lt;/ResourceName&gt<br>
			&lt;User&gt{{ l.user }}&lt;/User&gt<br>
			&lt;Date&gt{{ l.date }}&lt;/Date&gt<br>
			&lt;Starttime&gt{{ l.starttime }}&lt;/Starttime&gt<br>
			&lt;Duration&gt{{ l.duration }}&lt;/Duration&gt<br>
			&lt;/Reservation&gt<br>
			{% endfor %}
			&lt;/Reservations&gt;<br>
			
			&lt;/Resource&gt;<br>
			&lt;/rss&gt;<br>
		</p>
  </body>
</html>
{% endautoescape %}