<!DOCTYPE html>
{% autoescape true %}
<html>
  <body>
    {% if user %}
        <h2>Welcome, {{ user }}</h2>
        <b>All Resources on the system</b>
        <table border="1" style="width:30%">
            <tr>
                <th>Resource Name</th>
                <th>Start Time</th> 
                <th>End Time</th>
            </tr>
        {% for r in resource %}
        <tr>
            <td><a href="/resource?value={{ r.uid }}">{{ r.name }}</a></td>
            <td>{{ r.starttime }}</td>
            <td>{{ r.endtime }}</td>
        </tr>
        {% endfor %}
        </table>
        <br>
        <b>Resources owned by you</b>
        <table border="1" style="width:30%">
            <tr>
                <th>Resource Name</th>
                <th>Start Time</th> 
                <th>End Time</th>
            </tr>
        {% for r in resource %}
        {% if r.owner==user %}
        <tr>
            <td><a href="/resource?value={{ r.uid }}">{{ r.name }}</a></td>
            <td>{{ r.starttime }}</td>
            <td>{{ r.endtime }}</td>
        </tr>
        {% endif %}
        {% endfor %}
        </table>    
        
        <br>
        <b>All your current reservations</b>
        <br>
        <table border="1" style="width:30%">
            <tr>
                <th>Resource Name</th>
                <th>Date</th>
                <th>Start time</th>
                <th>Duration</th>
                <th></th>
            </tr>
            {% for r in reservations %}
                <tr>
                    <td><a href="/resource?value={{ r.resourceuid }}">{{ r.resourcename }}</a></td>
                    <td>{{ r.date }}</td>
                    <td>{{ r.starttime }}</td>
                    <td>{{ r.duration }}</td>
                    <td><a href="/deletereservation?value={{ r.uid }}">Delete</a></td>
                </tr>
            {% endfor %}
                
        </table>
        
		
        <br>
        <b>You can create a resource</b>
        <br>
        <form action="/create" method="post">
        <div><input type=text name="nameofresource"></div>
        <div><input type=time name="starttime"></div>
        <div><input type=time name="endtime"></div>
        <div><input type=text name="tags"></div>
        <div><input type="submit" value="Create Resource"></div>
        </form>
        <br>
        <br>
        <a href="/">Go back to home page</a>
        <br>
        <a href="{{ url|safe }}">{{ url_linktext }}</a>
    {% else %}
        <a href="{{ url|safe }}">{{ url_linktext }}</a>
    {% endif %}
    
    
  </body>
</html>
{% endautoescape %}