<!DOCTYPE html>
{% autoescape true %}
<html>
  <body>
	<b>Trying to reserve resource</b>
	<br>
	<a href="/resource?value={{ uid }}">{{ rname }}</a>
	<b>Start Time: {{ stime }}</b>
	<b>End Time: {{ etime }}</b>
	<br>
	
	<form action="/makereservation" method="post">
	
		<div><input type=hidden name="resourcename" value="{{ rname }}"><div>
		<div><input type=hidden name="avstime" value="{{ stime }}"><div>
		<div><input type=hidden name="avetime" value="{{ etime }}"><div>
		<div><input type=hidden name="rdateofcreation" value="{{ rdateofcreation }}"><div>
		<div><input type=hidden name="resourceid" value="{{ uid }}"><div>
		<div><input type=hidden name="user" value="{{ user }}"><div>
		<div><input type=date name="date"></div>
		<div><input type=time name="starttime"></div>
		<div><input type=number name="duration"></div>
		<div><input type="submit" value="Reserve"></div>
	</form>
	<br>
	<br>
	<a href="/">Go back to home page</a>
  </body>
</html>
{% endautoescape %}