<!DOCTYPE html>
{% autoescape true %}
<html>
  <body>
	<b>Resource: </b>
	<b>{{ name }}</b>
	<br>
	<b>Resource is available from </b>
    <b>{{ stime }}</b>
	<b> to </b>
	<b>{{ etime }}</b>
	<b> daily</b>
	<br>
	<b>TAGS:</b>
	<br>
	{% for tag in tags %}
		<a href="/tags?value={{ tag }}">{{ tag }}</a>
		<br>
    {% endfor %}
	<br>
	<b>All reservations for this resource: </b>
	<br>
	<table border="1" style="width:30%">
		<tr>
			<th>Reserved by</th>
			<th>On Date</th>
			<th>Start Time</th>
			<th>Duration</th>
		</tr>
		{% for res in reservations %}
			<tr>
				<td><a href="/userinfo?value={{ res.user }}" >{{ res.user }}</a></td>
				<td>{{ res.date }}</td>
				<td>{{ res.starttime }}</td>
				<td>{{ res.duration }}</td>
			</tr>
		{% endfor %}
	</table>
	
	<br>
	<br>
  
	{% if currentuser == resourceowner %}
		<b>You are the owner of this resource, you can edit this resource</b>
		<a href='/editresource?value={{ uid }}'>Edit Resource</a>
	{% endif %}
	
	<br><br>
	<a href="/generaterss?value={{ uid }}">RSSLink</a>	
	<br><br>
	<a href="/reserve?value={{ uid }}">Reserve this resource</a>
	<br>
	<a href="/">Go back to home page</a>
	
  </body>
</html>
{% endautoescape %}