<!DOCTYPE html>
{% autoescape true %}
<html>
  <body>
		<h1>All Resources with tag: {{ tag }}</h1>
		<table border="1" style="width:70%">
            <tr>
                <th>Resource Name</th>
                <th>Start Time</th> 
                <th>End Time</th>
            </tr>
			{% for r in list %}
				<tr>
					<td><a href="/resource?value={{ r.uid }}">{{ r.name }}</td>
					<td>{{ r.starttime }}</td>
					<td>{{ r.endtime }}</td>
				</tr>
			{% endfor %}
		</table>
		<br>
		<br>
		<a href="/">Go back to home page</a>
  </body>
</html>
{% endautoescape %}