<!DOCTYPE html>
{% autoescape true %}
<html>
  <body>
		<h3>For user : {{ usertodisplay }}</h3>
		<b>Resources owned by the user</b>
		<table border="1" style="width:30%">
            <tr>
                <th>Resource Name</th>
                <th>Start Time</th> 
                <th>End Time</th>
            </tr>
        {% for r in resources %}
			<tr>
				<td><a href="/resource?value={{ r.uid }}">{{ r.name }}</a></td>
				<td>{{ r.starttime }}</td>
				<td>{{ r.endtime }}</td>
			</tr>
        {% endfor %}
        </table>
		<br>
		<b>Reservations made by the user</b>
		<table border="1" style="width:30%">
            <tr>
                <th>Resource Name</th>
				<th>Date</th>
                <th>Start Time</th> 
                <th>Duration</th>
            </tr>
        {% for s in reservations %}
			<tr>
				<td><a href="/resource?value={{ s.resourceuid }}">{{ s.resourcename }}</a></td>
				<td>{{ s.date }}</td>
				<td>{{ s.starttime }}</td>
				<td>{{ s.duration }}</td>
			</tr>
        {% endfor %}
        </table>
		
		<br><br>
		<a href="/">Go to home page</a>
  </body>
</html>
{% endautoescape %}